<h2>商品一覧</h2>

<table class="table">
  <thead class="thead-light">
    <tr>商品ID</tr>
    <tr>商品名</tr>
    <tr>税抜き価格</tr>
    <tr>ジャンル</tr>
    <tr>販売ステータス</tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item) %></td>
        <td><%= item.price %></td>
        <td><%= item.genre %></td>
        <td>
          <% if item.is_active == true %>
            "販売中"
          <% else %>
            "販売停止中"
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

