<!--検索結果-->
<% if @records.empty? %>
  <h2>該当する商品はありません</h2>
<% end %>

<h5 class="title">商品一覧</h5>
<div class="row">
  <!--datasはサーチコントローラで@datas = search_for(@how, @value)と定義-->
  <% @records.each do |data| %>
    <div class="card" style="width: 280px;">
      <!--対象データが入っているitem詳細へ飛ぶ-->
      <%= link_to item_path(data.id) do %>
        <!--データ-->
        <div class="bd-placeholder-img card-img-top"><%= attachment_image_tag data, :image, size: "280x280", class: "img_hover" %></div>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%=  data.name %></h5>
        <p class="card-text">￥<%= data.price %></p>
      </div>
    </div>
  <% end %>
</div>



