<div class="container">
  <div class="row">
    <div class="coll">
      <h2>会員一覧</h2>
      <table>
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= customer.last_name %> <%= customer.first_name %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == true %>
                <p>有効</p>
              <% else %>
                <p>退会</p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>