<!-- アバウト画面 -->
<div class="about_img__inner">
  <%= image_tag"img/cake6.jpeg",class:"about-img rounded"%>
</div>

<div class="flame-image">
  <%= image_tag"img/flame.png"%>
  <p>
    ながのCAKEは全国発送可能なケーキ屋さんです。<br />
    お子様からお年寄りの方までお召し上がりいただけるよう<br />
    さまざまなバリエーションをご用意しております。<br />
    また、全国へ発送可能ですのでいつでもどこでもご注文いただけます。<br />
    ぜひご注文ください。<br />
  </p>
</div>