<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      
        <h1>ご注文ありがとうございました！！</br>
        またのお越しをお待ちしております</br>
        Thank you(∀｀*ゞ)ｴﾍﾍ<h1><div>
  </div>
    </div>
