/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: serif;
  }

  /* ヘッダー*/
  header {
    background-color: darkgray;
    height: 70px;
    width: 100%;
  }
  .header-area {
    width: 90%;
    display: flex;
    align-items: center;
  }
  .logo {
    height: 60px;
    position: relative;
    left: 20%;
    top: 5px;
  }
  /* ヘッダーリスト */
  nav {
    margin: 0 0 0 auto;
  }
  ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  .nav-list-item {
    color: #fafafa;
    margin: auto 10px;
    font-size: 16px;
  }
  /* メイン*/

  .img__inner {
    width: 100%;
    height: 900px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .about_img__inner {
    width: 700px;
    height: 500px;
    margin: 100px auto 0px;
    overflow: hidden;
    position: relative;
  }

  main{
    margin-bottom: 100px;
  }

  .main-img {
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    /*透明度*/
    /*あとで0に変える*/
    opacity: 1;
    /*変化するまでの時間を設定する*/
    transition: all 1s;
  }
  .current-img {
    opacity: 1;
    /*透明度*/
    /*あとで0に変える*/
    opacity: 1;
    /*変化するまでの時間を設定する*/
    transition: all 1s;
  }
  // トップ、アバウト以外の画像
  .item-img{
    object-fit: cover;
  }

  // topページ本文
  // いらないかも
  .text {
    text-align: center;
    padding: 100px 0 40px;
  }
  .text p {
    color: gray;
  }
  /* 見出し */
  // .title {
  //   color: white;
  //   font-family: serif;
  //   margin: 100px auto 50px;
  //   width: 130px;
  //   text-align: center;
  //   background: darkgrey;
  //   padding: 0.5em;
  //   border-radius: 20px;
  // }
  .title {
    color: gray;
    font-family: serif;
    margin: 100px auto 50px;
    width: 200px;
    text-align: center;
    padding: 1rem 1rem;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;

  }

  .flame-image {
    position: relative;
    width: 600px;
    margin: 100px auto 0;
  }
  .flame-image img{
    width: 100%;
  }
  .flame-image p {
    color: darkgray;
    position: absolute;
    text-align: center;
    top: 30%;
    right: 10%;
    left: 10%;
  }
  /* フッター */
  footer {
    background-color: darkgray;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer p {
    color: white;
    margin: auto;
  }


