/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: serif;
  }

  /* ヘッダー*/
  header {
    background-color: darkgray;
    height: 70px;
    width: 100%;
  }
  .header-area {
    width: 90%;
    display: flex;
    align-items: center;
  }
  .logo {
    height: 60px;
    position: relative;
    left: 20%;
    top: 5px;
  }
  /* ヘッダーリスト */
  nav {
    margin: 0 0 0 auto;
  }
  ul {
    list-style: none;
    margin: 0;
    display: flex;
  }
  .nav-list-item {
    color: #fafafa;
    margin: auto 10px;
    font-size: 16px;
  }
  // application.html全体にかかっている
  main{
    margin-bottom: 100px;
  }
  // トップ画像
  .img__inner {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  .main-img {
    width: 100%;
    position: absolute;
    top: -160px;
    left: 0;
    /*透明度*/
    opacity: 0;
    /*変化するまでの時間を設定する*/
    transition: all 1s;
  }
  .current-img {
    opacity: 1;
    z-index: 20;
  }
  // アバウト画像
  .about_img__inner {
    width: 700px;
    height: 400px;
    margin: 100px auto 0px;
    overflow: hidden;
    position: relative;
  }
  .about-img {
    width: 100%;
    position: absolute;
    top: -80px;
  }
  // トップ(メイン)、アバウト以外の画像
  .item-img{
    object-fit: cover;
  }
  .top-item-img{
    object-fit: cover;
    margin-bottom: 10px;
  }
  // 各ページのタイトル
  .title {
    color: gray;
    font-family: serif;
    margin: 100px auto 50px;
    width: 200px;
    text-align: center;
    padding: 1rem 1rem;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
  }
  // トップ・アバウトで使用している枠と文字
  .flame-image {
    position: relative;
    width: 600px;
    margin: 100px auto 0;
  }
  .flame-image img{
    width: 100%;
  }
  .flame-image p {
    color: darkgray;
    position: absolute;
    text-align: center;
    top: 30%;
    right: 10%;
    left: 10%;
  }
  /* フッター */
  footer {
    background-color: darkgray;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer p {
    color: white;
    margin: auto;
  }


  /* おみそ追記　adminのtitle 短めのやつ */
  .title2 {
    color: white;
    font-family: serif;
    margin: 30px 30px;
    width: 130px;
    text-align: center;
    background: darkgrey;
    padding: 0.5em;
    border-radius: 20px;
  }

  /* おみそ追記　adminのtitle 長めのやつ */
   .title3 {
    color: white;
    font-family: serif;
    margin: 30px 20px;
    width: 300px;
    text-align: center;
    background: darkgrey;
    padding: 0.5em;
    border-radius: 20px;
  }

  // テーブルの横幅を変えたい時
  // .table-nonfluid{
  //   width: 80%;
  //   margin: 0 auto;
  // }



