<div class="items">
  <div class="new-items">
    <!--ジャンル検索-->
    <table class="table table-bordered genre-table">
      <thead>
        <tr>
          <th>ジャンル検索</th>
        </tr>
      </thead>
      <tbody>
        <% genres.each do |genre| %>
          <tr>
            <td>
              <!--genre.nameをリンクにしてsearchアクションを実行-->
              <!--第一引数、第二引数にvalueを定義してコントローラで必要な情報を受け取れるようにしている-->
              <%= link_to genre.name, search_search_path('search[value]': genre.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
